<html lang="en">
<head>
  <meta charset="utf-8">
  <title>It works !</title>
</head>
<body>
  <pre>
--------------------------------------------
| It works ! {{ apache_domain }}           |
 -------------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
  </pre>
</body>
</html>
