<VirtualHost *:80>
       ServerName {{ apache_domain }}
        ServerAlias www.{{ apache_domain }}
        ServerAlias 10.42.0.11
        DocumentRoot /var/www/html/{{ apache_domain }}/
        CustomLog    /var/log/httpd/{{ apache_domain }}_access.log combined
        ErrorLog     /var/log/httpd/{{ apache_domain }}_error.log
        <Directory />
                Options none
                Allowoverride none
                Require all denied
        </Directory>

        <Directory /var/www/html/{{ apache_domain }}>
                Require all granted
        </Directory>
</VirtualHost>