<VirtualHost *:80>
       ServerName {{ item }}
        ServerAlias www.{{ item }}
        ServerAlias 10.42.0.11
        DocumentRoot /var/www/html/{{ item }}/
        CustomLog    /var/log/httpd/{{ item }}_access.log combined
        ErrorLog     /var/log/httpd/{{ item }}_error.log
        <Directory />
                Options none
                Allowoverride none
                Require all denied
        </Directory>

        <Directory /var/www/html/{{ item }}>
                Require all granted
        </Directory>
</VirtualHost>